.wrapper {
    margin: 0 auto;
    width: 1180px;
} 



ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
li {
    list-style: none;
}
.SH_Welcome {
    margin: 40px 0 5px;
    padding: 25px 0 5px;
    text-align: left;
    width: 10%;
    height: 20%;
}
.cart {
    margin-left: 165;
    width: 270px;

}
.container {
    display: flex; 
    justify-content: space-between;
}

.font {
    background-color: rgb(171, 234, 250);
    margin: 0;
}
.menu {
    background-color: rgb(38, 210, 252);
    width:270px;
    margin-left: 165px;
    text-align: center;
}
.SH_Welcome {
    background-color: rgb(255, 245, 31);
    width: 270px;
    height: 300px;
    text-align: center;
}

.open {
    background-color: white;
    width:270px;
    margin-left: 165px;
    margin-right: 165px;
    margin-top: 24px;
    text-align: right;

}
.icons {
    display: flex;
    height: 17px;
    width: 200px;
    margin-top: 24px;
}
.Tags {
    background-color: white;
    width:270px;
    margin-left: 165px;
    margin-right: 165px;
    margin-top: 24px;
    text-align: center;
}
.Tags.li {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: left;
}
.articles {
    background-color: white;
    width:270px;
    margin-left: 165px;
    margin-right: 165px;
    margin-top: 24px;
    text-align: center;
}
footer {
    display: flex;
    background-color: rgb(55, 55, 55);
    color: white;
}
.st {
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin-left: 165px;
    margin-right: 165px;
   
}
.st1 {
    display: flex;
    flex-direction: column;
}
.Products {
    display:flex;
    flex-direction: column;
}
.plosk {
    display: flex;
    width: 1170px;
}
.vert {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}
.hor {
    display: flex;
    margin-left: 165px;
    margin-right: 165px;
}
.slide {
    display: flex;
}
.cart {
    width:270px;
} 

.logo {
    margin-left: 235px;
    margin-top: 24px;
}
.hor1 {
    display: flex;
    justify-content: space-around;
    background-color: rgb(233,233,233);
}.hor2 {
    display: flex;
    justify-content: space-around;
    background-color: rgb(251, 77, 1);
}
.hor3 {
    display: flex;
    justify-content: space-around;
    background-color: rgb(226, 70, 2);
}
.search {
    background-color: rgb(233,233,233);
    display: flex;
    justify-content: space-between;
    width: 270px;
}
q {
    background-color: rgb(233,233,233);
    border: none;
}
.Sidebar {
    display: flex;
    flex-direction: column;
}
.lupa {
    display: flex;
    background-color: black;
    margin: auto;
    width: 34px;
    height: 34px;
}
.butt {
    width: 90%;
    margin: auto;
}
.items {
    display: flex;
}